@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heading-background {
        @apply bg-gradient-to-r from-[#FFC6D3] to-[#3A4F7A];
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }

    .image {
        @apply rounded-full max-w-[60%] overflow-hidden my-10
    }

    .post {
        @apply text-background p-7 rounded-xl shadow-md shadow-green-200
    }

    .text-background {
        background: hsla(229, 73%, 19%, 0.322);
        backdrop-filter: blur(20px);
        z-index: 1;
    }

}