@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Marcellus&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Solway";
  src: url("../public/fonts/Solway-Regular.ttf");
}


@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    
  }

  ::selection {
    background-color: #5c1efb;
    color: #fff;
  }

  body {  
    @apply bg-[#fbfb1e]
  }

  #root {
    @apply m-auto w-full xl:w-[1336px] flex justify-center items-center px-[30px] py-[20px] text-primary min-h-screen;
    box-sizing: border-box;
    background-color: #fbfb1e;
    opacity: 1;
    color:black;
  }

}

@layer components {
  .card-background {
    background-color: #fbfb1e;
    opacity: 0.6;
    background-size: 4px 100%;
  }

  .activeClass {
    @apply bg-primary text-green font-main-content
  }
}

@layer components {}